@use '../../styles/themes' as theme;

@include theme.themify(theme.$themes) {
  .logo {
    color: #{theme.get('color-text-icon-common-high-emphesis')};
  }
}

.logo {
  display: inline-block;
  width: 25px;
  height: auto;
  aspect-ratio: 25 / 24;

  &.size-xs {
    width: 16px;
  }

  &.size-sm {
    width: 20px;
  }

  &.size-md {
    width: 25px;
  }

  &.size-lg {
    width: 32px;
  }

  &.size-xl {
    width: 40px;
  }
}
