@use '../../styles/themes' as theme;
@use '../../styles/mixins' as mixins;

@include theme.themify(theme.$themes) {
  .content {
    border-radius: calc(#{theme.get('float-radii-containment-menu')} * 1px);
    background-color: #{theme.get('color-containment-surface-fill-raised-2')};
    color: #{theme.get('color-text-icon-common-medium-emphasis')};
    padding: calc(#{theme.get('float-proportion-1-50')} * 1px);
    z-index: 50;

    @include mixins.text-interface-legal-regular;
    @include mixins.effect-elevation-action-fab;

    animation-duration: 150ms;
    animation-timing-function: ease-out;
    will-change: transform, opacity;

    &[data-state='delayed-open'] {
      animation-name: tooltip-fade-in;
    }

    &[data-state='closed'] {
      animation-name: tooltip-fade-out;
    }
  }

  .arrow {
    fill: #{theme.get('color-containment-surface-fill-raised-2')};
  }
}

@keyframes tooltip-fade-in {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tooltip-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
